*{
    box-sizing: border-box;
    font-family: "Helvetica";
}

a{
    text-decoration: none;
}

body{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

header{
    display: flex;
    flex-direction: column;
    background: url('https://wallpapercave.com/wp/wp5318314.jpg') gray;
    background-size: 70%;
    background-position: 50% 60%;
}

header nav{
    margin-top: 175px;
    height: 50px;
    display: flex;
    justify-content: center;
}

header nav ul{
    list-style: none;
    color: white;
    display: flex;
    justify-content: center;
    gap: 20px;
}

header nav ul li a{
    color: white;
}

header nav ul li a:hover{
    text-decoration: overline;
}

main{
    width: 98%;
    height: 800px;
    align-self: center;
    display: flex;
    justify-content: space-between;
}

main div{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main div article{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
}

main div article div:first-child{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    background-color: black;
}

main div article div:first-child h1{
    color: white;
    font-size: 22px;
    padding-left: 15px;
}


main div article div:last-child{
    width: 100%;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: gray;
}

main div article div:last-child img{
    width: 40%;
    height: 90%;
}

main div article div:last-child p{
    width: 50%;
    text-align: justify;
    color: white;
    font-size: 1.05em;
}

main div div{
    width: 100%;
    height: 56%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main div div article{
    width: 48%;
    height: 100%;
    border: 1px solid black;
}

main aside{
    width: 28%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

main aside div{
    width: 90%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main aside div input{
    height: 40px;
}

main aside div article{
    height: 40%;
    background-color: white;
}

main aside div article div{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
}

main aside div article div h3{
    color: white;
    margin-left: 15px;
    font-size: 1.2em;
}

main aside div article ul{
    margin: 0;
    height: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

main aside div article ul li a{
    color: black;
}

main aside div article ul li a:hover{
    color: cadetblue;
}

main aside div div{
    width: 100%;
    height: 40%;    
}

main aside div div div{
    flex-grow: 0;
    height: 45%;
    display: flex;
    flex-direction: row;
}

main aside div div div div{
    width: 45%;
    height: 100%;
    cursor: pointer;
}

main aside div div div:first-child div:first-child{
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_EcFVt9xVd1Gm08_RLpNpQaMTfIQj48gzrA&usqp=CAU');
    background-size: cover;
}

main aside div div div:first-child div:last-child{
    background: url('https://pbs.twimg.com/profile_images/1202938752387170304/Z0TlRM6d_400x400.jpg');
    background-size: cover;
}

main aside div div div:last-child div:first-child{
    background: url('https://pbs.twimg.com/profile_images/1370101710979481601/jrDVpipF_400x400.jpg');
    background-size: cover;
}

main aside div div div:last-child div:last-child{
    background: url('https://i.ytimg.com/vi/n3CACvgFLIc/mqdefault.jpg');
    background-size: cover;
}

footer{
    width: 100%;
    height: 40px;
    background-color: rgb(43, 43, 43);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
} 
