*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Helvetica";
}


a{
    text-decoration: none;
}

body{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

header{
    display: flex;
    flex-direction: column;
    background-color: gray;
}

header nav{
    margin-top: 175px;
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: center;
}

header nav ul{
    list-style: none;
    color: white;
    display: flex;
    justify-content: center;
    gap: 20px;
}

header nav ul li a{
    color: white;
}

main{
    width: 98%;
    height: 800px;
    align-self: center;
    display: flex;
    justify-content: space-between;
}

main .left{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main .left article{
    width: 100%;
    height: 40%;
    border: 1px solid black;
}

main .left .content-article{
    width: 100%;
    height: 56%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main .left .content-article article{
    width: 48%;
    height: 100%;
    border: 1px solid black;
}

main aside{
    width: 28%;
    height: 100%;
    border: 1px solid black;
}

footer{
    width: 100%;
    height: 40px;
    background-color: rgb(43, 43, 43);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
} 



/* Bonini */

article{
    background-color: gray;
}

.title{
    width: 100%;
    padding: 8px 0;
    background-color: rgb(40,40,40);
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.body-article{
    padding: 20px 10px;  
}

.body-article h3{
    font-size: 18px;
    color: white;
}

.body-article p{
    margin-top: 10px;
    font-size: 14px;
    color: white;
    font-weight: lighter;
    line-height: 28px;
}

.body-article .content-button{
    width: 100%;
    text-align: right;
    padding: 10px 0;
}

.body-article .content-button a{
    display: inline-block;
    width: 90px;
    height: 33px;
    background-color: rgb(40,40,40);
    border: 1px solid rgb(200,200,200);
    border-radius: 5px;
    font-size: 14px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
}

.body-article ul{
    padding: 10px 20px;
}

.body-article ul li{
    margin-bottom: 6px;
    color: rgb(0,0,0);
    font-size: 14px;
}

.body-article ul li a{
    color: white;
    text-decoration: none;
}




